.homework{
    border-radius: 0.2rem;
    font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color:rgb(44, 185, 44);
  background-color: black;
  border:1px solid green;
  padding: 2px;
  box-sizing: border-box;
  max-width: 15rem;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 5px;
  min-width: 7.5rem;
  text-align: center;
}

.container{
    gap:1rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}

.buttons{
  display: flex;
  justify-content: space-between;
  gap:1rem;
}

.complete{
  text-decoration: line-through;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
}

@media (max-width:500px) {
  .container{
    gap:0.2rem;
  }

  .img-container{
    flex-wrap: wrap;
  }
}